@charset"UTF-8";
@import "common/common";

/*好友详情页*/

.wrap {
    width: 13.2rem;
    margin: 1.04rem auto 0;
    .top{
        h5{
            font-size: 0.72rem;
        }
        p{
            font-size: 0.52rem;
            line-height: 1.16rem;
            margin-bottom: 0.4rem;
            color: #999999;
        }
        .master{
            width: 3.56rem;
            height: 1.32rem;
            position: absolute;
            top: 1.2rem;
            right: 0.84rem;
            border-radius: 0.66rem;
            border: 1px solid #CCCCCC;
            line-height: 1.32rem;
            text-align: center;
            color: #999999;
            font-size: 0.52rem;
            
        }
    }
    .search{
        height: 1.52rem;
        padding-left: 0.64rem;
        border-radius: 0.76rem;
        background: #F2F2F2;
        input{
            background: transparent;
            font-size: 0.6rem;
            vertical-align: middle;
            line-height: 1.52rem;
            color: #c0c0c0;
        }
        img{
            vertical-align: middle;
        }
    }
    .list{
        margin-top: 0.6rem;
        .item{
            position: relative;
            height: 4.84rem;
            box-shadow: 0 0 0.5rem #ddd;
            border-radius: 0.54rem;
            margin-bottom: 0.6rem;
            h5{
                padding: 0.6rem 0.6rem 0;
                font-size: 0.6rem;
            }
            p{
                padding: 0.28rem 0.6rem 0;
                color: #999999;
                i{
                    color: #000;
                }
            }
            .operat{
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 1.52rem;
                padding-top: 0.66rem;
                background: #F4F4F4;
                text-align: center;
                border-bottom-left-radius : 0.52rem;
                border-bottom-right-radius : 0.52rem;
                span{
                    display: inline-block;
                    width: 30%;
                    line-height: 1rem;
                    font-size: 0.52rem;
                    color: #999;
                    border-right: 1px solid #CCCCCC;
                }
                span:last-child{
                    border:none;
                }
            }
        }
    }
}

.wrap2 {
    display: none;
    .top{
        height: 1.54rem;
        border-bottom: 1px solid #E5E5E5;
        padding-top: 0.64rem;
        .selectAllBtn{
            display: inline-block;
            line-height: 1rem;
            margin-left: 1.04rem;
            width: 1.68rem;
            height: 1.1rem;
            padding-left: 1.12rem;
            background: url(../img/static/selectAll2.png);
            background-size: contain;
        }
        .selectAllBtn.cur{
            background: url(../img/static/selectAll.png);
            background-size: contain;
            color: #fff;
        }
        .right{
            float: right;
            span{
                display: inline-block;
                width: 3.16rem;
                line-height: 1rem;
                border-right: 1px solid #ccc;
                text-align: center;
                color: #999;
            }
            span:last-child{
                border: none;
            }
        }
    }
    .list2{
        width: 13.2rem;
        margin: 0.6rem auto 0;
        .item{
            position: relative;
            height: 2.8rem;
            box-shadow: 0 0 0.5rem #ddd;
            border-radius: 0.54rem;
            margin-bottom: 0.6rem;
            h5{
                padding: 0.6rem 0.6rem 0;
                font-size: 0.6rem;
                i{
                    display: inline-block;
                    width: 0.7rem;
                    height: 0.7rem;
                    background: #F4F4F4;
                    border-radius: 50%;
                    vertical-align: middle;
                    margin-right: 0.16rem;
                }
                i.cur{
                    background: url(../img/static/selected.png);
                    background-size: contain;
                }
            }
            p{
                padding: 0.28rem 0.6rem 0;
                color: #999999;
                i{
                    color: #000;
                }
            }
        }
    }
}